arsGOals.csv
bettor
bettor.tar.xz
even.txt
HvsA.csv
HvsA2.csv
HvsA3.csv
Icon.png
newbettor
newbettorV2
odd.txt
process.txt
sumgoals.csv
database/fifaChampLeague.csv
fyne-cross/bin/windows-amd64/bettor
fyne-cross/dist/android/bettor.apk
fyne-cross/dist/windows-amd64/bettor.zip
fyne-cross/tmp/android/Icon.png
fyne-cross/tmp/windows-amd64/bettor.ico
fyne-cross/tmp/windows-amd64/bettor.manifest
fyne-cross/tmp/windows-amd64/bettor.syso
fyne-cross/tmp/windows-amd64/main.rc
insufficient/4x4.txt
insufficient/pen22.txt
unregistered/.txt
unregistered/4x4.txt
unregistered/fifa4x4Eng.txt
unregistered/fifaChampLeague.txt
unregistered/pen22.txt
